<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>About Page</title>
</head>
<body>
    <a class="active" href="/">About</a>
    <div class="hero text-primary-content">
        <div class="text-center hero-content">
            <div class="max-w-md">
                <h1><a class="mb-5 text-5xl font-bold active" href="/">About</a></h1>
                <p class="mb-5">All about me...</p>
            </div>
        </div>
    </div>
    <div class="container mx-auto ml-200">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Left column for the image -->
            <div>
                <img src="https://images.freeimages.com/images/large-previews/630/big-basin-morning-1523946.jpg?fmt=webp&h=350" alt="A picture representing me">
            </div>
            <!-- Right column for the text -->
            <div>
                <p>My hobbies is cooking</p>
            </div>
        </div>
    </div>
</body>
</html>